name: Auto Release

on:
  push:
    branches: [main]
    paths:
      - 'cmd/**'
      - 'api/**'
      - 'model/**'
      - 'server/**'
      - 'runner/**'
      - 'pyproject.toml'

jobs:
  autorelease:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'release:')"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install uv
        run: |
          pip install uv

      - name: Install python-semantic-release
        run: |
          uv pip install python-semantic-release[toml]

      - name: Run semantic release
        run: |
          uv run semantic-release publish
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
